
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
h1 {
  margin: 10;
  font-size: 40px;
}
body {
  padding-left: : 2cm;
}
p {
    margin: 10;
    padding-left: 1em;
}
img {
  margin-left: 50;
}
.wrap {
  min-height: 150vh;
  background: linear-gradient(ivory, crimson);
}
